html {
  scroll-behavior: smooth
}

body {
  font-family: sans-serif;
  /* background: linear-gradient(217deg, rgba(17, 0, 170, 0.8), rgba(17, 0, 170, 0) 70.71%),
  linear-gradient(336deg, rgba(235, 0, 0, 0.4), rgba(235, 0, 0, 0) 70.71%),
  linear-gradient(127deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 70.71%);; */
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: lightgray;
  text-decoration: underline;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.btn-large {
  padding: 22px 36px 24px 36px;
  border: 1px solid white;
  /* margin-top: 24px; */
  border-radius: 80px;
  opacity: .8;
  cursor: pointer;
  color: white;
  background: none;
  height: 64px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-large:hover {
  opacity: 1;
}

/* scroll area */
body::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none;
  overflow: hidden;
}

.scroll-height {
  background-color: rgb(0, 0, 44);

  color: white;
}

#scroll-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  color: white;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


/* overlay area */
#overlay-area {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  display: none;
  opacity: 0;
  background: linear-gradient(217deg, rgba(17, 0, 170, 0.8), rgba(17, 0, 170, 0) 70.71%),
    /* linear-gradient(336deg, rgba(0, 255, 0, .4), rgba(0, 255, 0, 0) 70.71%), */
    linear-gradient(127deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 70.71%);

}



#decrease-rate {
  font-size: 250px;
  font-family: 'Playfair Display', serif;
  letter-spacing: -3px;
  font-weight: bold;
  margin-bottom: 8px;
  display: inline-block;
}

.decrease-percent {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  display: inline-block;
}

.overlay-title {
  font-size: 51px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  letter-spacing: 1.28px;
  margin-top: -20px;
}


.overlay-content {
  margin-top: 27px;
  margin-bottom: 53px;
  max-width: 500px;
  opacity: 0.8;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.45px;
  color: #e6e5ff;
}

.overlay-wrapper {
  height: 100vh;
  /* max-width: 700px; */
  display: flex;
  margin-left: 160px;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

#back-btn {
  cursor: pointer;
  margin-bottom: -40px;
  vertical-align: middle;
  display: grid;
  grid-template-columns: 32px 54px;
  z-index: 500;
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-text {
  opacity: 1;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;

  display: inline;
}

#back-btn:hover {
  opacity: 1;
}


/* progress bar style */
#progress-bar-area {
  height: 100vh - 80px;
  width: 120px;
  position: fixed;
  top: 80px;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  color: white
}

.progress-bar-wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.progress-bar-label {
  height: 32px;
  margin: 16px 0;
  font-size: 1.2em;
  opacity: .4;
}

.progress-bar {
  height: 60%;
  display: flex;
  justify-content: center;
}

#progress-bar-bg {
  height: 100%;
  width: 4px;
  position: relative;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, .3);
  opacity: 1;
  /* box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, .15); */
}

#progress-bar {
  height: 0;
  width: 4px;
  position: absolute;
  bottom: 0;
  border-radius: 100px;
  background: white;
  opacity: 1;
  /* vertical-align: bottom; */
}



#degree-change {
  font-size: 650px;
  font-weight: 800;
  font-family: 'Playfair Display', serif;
  letter-spacing: -2px;
  display: block;
  opacity: .06;
  line-height: 1.33;
  letter-spacing: -32.5px;
  margin-top: -200px;
}


/* top navigation style */
.top-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  z-index: 10;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  /* background: #111; */
  height: 103px;
  width: 100%;
  display: grid;
  grid-template-columns: 152px auto 140px;
  /* box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, .15); */
}

.logo-wrapper {
  /* width: 400px; */
  color: white;
  /* display: grid; */
  height: 103px;
  /* border-right: 1px solid #222; */
}

.logo-content {
  margin: 33px 41px 0 41px;
}

.function-wrapper {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  /* border-left: 1px solid #222; */
}

.one-depth-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  overflow: auto;
  height: 103px;
  z-index: 10;
  /* background-color: #111; */
  position: relative;
}

.one-depth-item {
  color: white;
  float: left;
  margin: 51px 30px auto 30px;
  opacity: .4;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .9px;
}

.one-depth-item:hover {
  opacity: 1;
}

.one-depth-wrapper {
  /* width: 100%; */
  display: inline-block;
  z-index: 10;
  overflow: hidden;
}

#marine-nav {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.two-depth-nav {
  width: 100vw;
  /* height: 100vh; */
  background: linear-gradient(217deg, rgba(17, 0, 170, 0.8), rgba(17, 0, 170, 0) 70.71%),
    linear-gradient(336deg, rgba(235, 0, 0, 0.4), rgba(235, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 70.71%);
  position: absolute;
  /* margin-top: 80px; */
  padding-top: 215px;
  color: white;
  top: 0;
  left: 0;
  z-index: -3;
  opacity: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.two-depth-nav-wrapper {
  width: 85vw;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  grid-gap: 64px;

}

.two-depth-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-template-rows: repeat(auto-fit, 180px);
  grid-gap: 40px;
  justify-content: center;
}

.two-depth-nav-item {
  width: 180px;
  height: 180px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: .5;
  text-align: center;
  /* background-color: ; */
  /* border: 1px solid white; */
}

.two-depth-nav-item:hover {
  opacity: 1;
}

.two-depth-nav-item-img {
  height: 120px;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  pointer-events: none;
  /* border: 1px solid white; */
  margin-bottom: 12px;
  text-align: center;
}

.two-depth-nav-item-title {
  /* height: 28px; */
  font-size: 17px;
  text-transform: uppercase;
  pointer-events: none;
}

/* landing page */
#landing-area {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(226deg, #1c005c 80%, 0deg, #000000 14%);
  z-index: 101;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
}

.landing-wrapper {
  max-width: 620px;
  /* height: 50vh; */
  margin: auto;
  /* display: grid; */
  text-align: center;
  justify-content: center;
  /* border: 1px solid white; */
  color: white;
}

.landing-logo {
  margin-bottom: 64px;
}

.landing-title {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 1.5px;
  margin-bottom: 12px;
}

.landing-text {
  margin-bottom: 29px;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.45px;
  text-align: center;
  color: #e6e5ff;
}


.popup-bottom-wrapper {
  position: fixed;
  width: 100%;
  min-height: 80px;
  bottom: 0;
  background-color: #111;
  color: white;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;

}

.popup-bottom-content {
  margin: 16px;

}

.popup-bottom-text {
  display: inline-block;
  margin: 8px;
  /* height: 100%; */
}

.btn-small {
  display: inline-block;
  /* height: 32px; */
  
  margin: 0;
  padding: 8px 16px;
  color: white;
  background: none;
  /* border: 1px solid white; */
  border: none;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.popup-close-btn-layout {
  position: absolute;
  right: 40px;
  top: 40px;
}

#about-popup {
  display: none;
}

.bg-wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.popup-center-wrapper {
  width: 85vw;
  height: 85vh;
  opacity: 0;
  background: #502525;
  
  border: 1px solid white;
  border-radius: 4px;
}

#scroll-end-popup {
  display: none;
  z-index: 100;
  opacity: 0;
}

.scroll-end-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, .7); */
  /* backdrop-filter: blur(10px); */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  color: white
}


.scroll-end-content {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.scroll-end-icons-bg {
  width: 100vw;
  height: 50vh;
  position: fixed;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 19%, #000000 73%);
}

.scroll-end-icons-wrapper {
  width: 100vw;
  height: 250px;
  position: fixed;
  bottom: 0;
  /* background-color: blue; */
  /* opacity: .7; */
  text-align: center;
  color: white;
  /* pointer-events: none; */
}

.scroll-end-icons-title {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
}

.scroll-end-icons-text {
  opacity: 0.65;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.9px;
}

.scroll-end-icons-list {
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  grid-gap: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
}

.scroll-end-icons-item {
  max-width: 120px;
  opacity: .7;
  cursor: pointer;
}

.scroll-end-icons-item:hover {
  opacity: 1;
}

#whatif-popup {
  display: none;
}

.whatif-popup-content-wrapper {
  display: grid;
  grid-template-columns: auto 440px;
}

#whatif-popup-img {
  background: white;
  height: 85vh;
  display: block;
}

.whatif-img {
  /* max-width: 100%; */
  max-height: 100%;
}

.whatif-popup-content {
  display: absolute;
  margin-left: 40px;
  margin-right: 40px; 
  margin-bottom: 40px;
  bottom: 0px;
  color: white;
}

