body {
  font-family: sans-serif;
  background: black;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

body::-webkit-scrollbar {
  display: none;
}

#overlay-area {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  display: none;
  opacity: 0;
  background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
    /* linear-gradient(336deg, rgba(0, 255, 0, .4), rgba(0, 255, 0, 0) 70.71%), */
    linear-gradient(127deg, rgba(255, 0, 255, .8), rgba(255, 0, 255, 0) 70.71%);

}

#progress-bar-area {
  height: 100vh - 80px;
  width: 60px;
  position: fixed;
  top: 80px;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  /* background: white;
  opacity: .2; */
}

#progress-bar-bg {
  height: 60%;
  width: 4px;
  position: absolute;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, .3);
  opacity: 1;
  /* box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, .15); */
}

#progress-bar {
  height: 0;
  width: 4px;
  position: absolute;
  bottom: 0;
  border-radius: 100px;
  background: white;
  opacity: 1;
}


#decrease-rate {
  font-size: 8em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 8px;
}

#selected-species {
  font-size: 3em;
}

.overlay-wrapper {
  height: 100vh;
  max-width: 450px;
  display: flex;
  margin-left: 72px;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

#related-species-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.related-tag {
  float: left;
  padding: 4px 12px 4px 12px;
  margin-right: 8px;
  border: 1px solid white;
  border-radius: 4px;
  margin-bottom: 8px;
  opacity: .4
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.scroll-height {
  background-color: black;
  color: white;
}

#scroll-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  color: white;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#degree-change {
  font-size: 14em;
  font-weight: 800;
  letter-spacing: -2px;
  display: block;
  opacity: .1;
}

#pixel-change {
  font-size: 2em;
  font-weight: 400;
  display: block;
  opacity: 0.5;
}

.link {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  margin: 20px;
  text-align: center;
}

button {
  font-size: 2em;
  border-radius: 40px;
  padding: 4px 12px;
  margin-right: 16px;
  background: #0000cc;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  opacity: 0.4;
}


a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: lightgray;
  text-decoration: underline;
}

.top-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: blue;
  /* height: 160px; */
  overflow: visible;
  width: 100%;
  z-index: 10;

}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #111;
  height: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 320px auto 210px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, .15);
}

.logo-wrapper {
  /* width: 400px; */
  color: white;
  display: grid;
  height: 80px;
  border-right: 1px solid #222;


}

.logo-content {
  align-self: center;
  justify-self: center;
  font-weight: 400;
  margin: 12px;
  font-size: 1.2em;
}

.function-wrapper {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  border-left: 1px solid #222;

}

.one-depth-list,
.two-depth-list,
.three-depth-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;

}

.one-depth-list {
  align-self: center;
  justify-self: center;
  overflow: auto;
  height: 80px;
  z-index: 10;
  /* background-color: #111; */
  position: relative;
}

.two-depth-list {
  display: none;
  margin-top: 8px;
  transform: translateY(-100px) z-index: -10;
  opacity: 0;
  position: fixed;
}


.one-depth-item {
  color: white;
  float: left;
  /* margin: 15px; */
  padding: 30px 30px;
  opacity: .4;
  /* border-bottom: 2px solid white; */
  cursor: pointer;
}

.one-depth-item:hover {
  opacity: 1;
}


.two-depth-item {
  cursor: pointer;
  display: inline-block;
  color: #222;
  background-color: white;
  margin: 12px;
  padding: 8px 16px;
  border-radius: 24px;
  border: 2px solid white;
  font-weight: 800;
}

.three-depth-item {
  color: white;
  float: left;
  padding: 8px 16px;
  border-radius: 24px;
  margin: 12px 8px;
  cursor: pointer;
  background-color: #222;
  border: 2px solid #343434;
}

.one-depth-wrapper {
  /* width: 100%; */
  display: inline-block;
  z-index: 10;
  /* overflow: auto; */
}

.two-depth-wrapper {
  overflow: visible;
  width: 100%;
  z-index: -10;
}


#marine-nav {
  display: none;
  opacity: 0;
}

.two-depth-nav {
  width: 100vw;
  /* height: 100vh; */
  background: navy;
  position: absolute;
  margin-top: 80px;
  color: white;
  top: 0;
  left: 0;
  z-index: -3;
  opacity: 0;

}


.two-depth-nav-wrapper {

  width: 80vw;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 64px;

}

.two-depth-nav-block {
  width: 100%;
  display: grid;
  grid-gap: 24px;
}

.two-depth-nav-block-title {
  font-size: 2em;
}

.two-depth-nav-block-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(254px, 1fr));
  grid-gap: 16px;
}

.two-depth-nav-block-item {
  width: 100%;
  height: 160px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: .4;
  background-color: magenta;
}

.two-depth-nav-block-item:hover {
  opacity: 1;
}

#back-btn {
  opacity: .8;
  cursor: pointer;
  font-size: 1.4em;
}

#back-btn:hover {
  opacity: 1;
}

.whatif-btn {
  font-size: 1.4em;
  padding: 16px 24px;
  border: 1px solid white;
  display: inline-block;
  margin-top: 24px;
  opacity: .8;
  cursor: pointer;
}

.whatif-btn:hover {
  opacity: 1;
}